.App {
  text-align: center;
  color: #fff;
  
  .buttons{
    padding: 32px;
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .App{
    .buttons{
      padding: 16px;
    }
  }
}